.DS_Store
/js_client/src/js/kotlin_sdk.js
/out/
/output/
node_modules
*.swp
/solidity/build/
/.idea/libraries/
/.idea/compiler.xml
/.idea/artifacts/kotlin_sdk_js_0_0_1.xml
/.idea/artifacts/kotlin_sdk_jvm_0_0_1.xml
/.idea/dictionaries/
/.idea/encodings.xml
/.idea/misc.xml
.idea
/.idea/workspace.xml
js_client/.gradle/
js_client/gradle/
js_client/gradlew
js_client/gradlew.bat
/.idea/artifacts/
/.idea/gradle.xml
/.idea/modules.xml
.idea/*
/.idea/$PRODUCT_WORKSPACE_FILE$
.idea/safechannels.iml
/solidity/src/js/generated/
/sample/sample.iml
