.DS_Store
/.idea/
/java_client/out/
/js_client/src/js/kotlin_sdk.js
/js_foundation/build/
/kotlin_sdk/.gradle/
/kotlin_sdk/build/
/out/
/output/
node_modules
*.swp
/solidity/build/
java_client/.gradle/
java_client/gradle/
java_client/gradlew
java_client/gradlew.bat
java_foundation/.gradle/
java_foundation/gradle/
java_foundation/gradlew
java_foundation/gradlew.bat
js_client/.gradle/
js_client/gradle/
js_client/gradlew
js_client/gradlew.bat
js_foundation/.gradle/
js_foundation/gradle/
js_foundation/gradlew
js_foundation/gradlew.bat
