# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.10

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "solidity/package.json" }}-{{ checksum "js_foundation/package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: validate duplicates
          command: ./dup_control.sh
      - run:         
          name: yarn-install in solidity project
          command: cd solidity && yarn install

      - run:         
          name: yarn-install in js_foundation project
          command: cd js_foundation && yarn install

      - save_cache:
          paths:
            - ./solidity/node_modules
            - ./js_foundation/node_modules
          # TODO: cache by all package.json files in the repo!!!
          key: v1-dependencies-{{ checksum "solidity/package.json" }}-{{ checksum "js_foundation/package.json" }}

      # run tests!
      - run: 
          name: solidity-test
          command: cd solidity && yarn ci && cd .. && node js_foundation/extract_abi.js && cd js_foundation && yarn ci 
